body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-behavior: smooth;
}
header{
    text-align: center;
    background-color: azure;
    color: #080808;
    width: 80vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.ac-container {
    cursor: pointer;
    width: 80vw;
    text-align: center;
    align-self: center;
}
.ac-container .ac-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: #080808;
    background-color: azure;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.ac-container label {
    cursor: pointer;
    background-color: #dbe72f;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #080808;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;   
    font-size: 18px;
    text-align: left;
    margin: 0 0 5px;
    transition: color .35s;
}
.ac-container input:hover +label+.ac-body{
    height: auto;
    margin-top: -5px;
    color: #080808;
    padding: 20px 30px 10px;
    transition-timing-function: ease-in-out;
}
.ac-container input{
    display: none;
}
    
.ac-container input:checked + label {
    background-color: #dbe72f;
    color: #080808;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.ac-container input:checked + label img {
    float:right;
    transition: transform .35s;
    transform: rotate(45deg);    
}
label img{
    display: none;
}
.ac-container:hover label img{
    display: block;
}
.ac-container:hover label{
    color: blueviolet;
}
.ac-container input:checked + label + .ac-body {
    height: auto;
    margin-top: -5px;
    color: #080808;
    padding: 20px 30px 10px;
    transition:height 0.5s;
}
.icon{
    float:right;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: azure;
    color: #080808;
    width: 80vw; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);  
}
.git{
    border-radius: 50%;
}
@media screen and (max-width: 1920px) {
    .ac-container label {
        font-size: 20px;
    }
}
@media screen and (max-width: 820px) {
    header{
        width: 85vw;
    }
    .ac-container{
        width: 85vw;
    }
    .ac-container label {
        font-size: 16px;
    }
    .ac-container .ac-body img{
        max-width:300px;
        height: auto;
    }
    footer{
        width:85vw;
    }
}
@media screen and (max-width: 320px) {
    header{
        width: 90vw;
    }
    .ac-container{
        width: 90vw;
    }
    .ac-container label {
        font-size: 10px;
    }
    .ac-container .ac-body img{
        max-width:300px;
        height: auto;
    }
    footer{
        width:90px;
    }
}
